<mat-card class="p-20">
    <span class="m-auto">Dashbboard</span>
</mat-card>


    <!-- <div class="card-container"> -->
        <mat-grid-list cols="3"  rowHeight="fit" class="h-100" gutterSize="1.2rem">
            <mat-grid-tile>
                <!-- <div class="card-container"> -->
                    <mat-card class="p-20 mat-elevation-z0">
                        <mat-card-header class="m-auto text-l">
                            Total Category
                        </mat-card-header>
                        <hr>
                        <mat-card-content class="m-auto">
                            <ng-container>
                                <ng-template #spinner>
                                    <mat-progress-spinner [diameter]="25" [mode]="'indeterminate'"></mat-progress-spinner>
                                </ng-template>
                               <div *ngIf="!(loadingSer.loading$ | async) else spinner" > {{data?.category}}</div>
                            </ng-container>
                          
                        </mat-card-content>
                        <hr>
                        <mat-card-actions class="m-auto" >
                            <button   [routerLink]="['/cafe/category']" mat-stroked-button color="accent">View
                                </button>
                        </mat-card-actions>
                    </mat-card>
                <!-- </div> -->
        
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="p-20 ">
                    <mat-card-header  class="m-auto text-l">
                        Total Product
                    </mat-card-header>
                    <hr>
                    <mat-card-content  class="m-auto">
                        <ng-container>
                            <ng-template #spinner>
                                <mat-progress-spinner [diameter]="25" [mode]="'indeterminate'"></mat-progress-spinner>
                            </ng-template>
                           <div *ngIf="!(loadingSer.loading$ | async) else spinner" > {{data?.product}}</div>
                        </ng-container>
                    </mat-card-content>
                    <hr>
                    <mat-card-actions  class="m-auto">
                        <button [routerLink]="['/cafe/product']" mat-stroked-button color="accent">View
                        </button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="p-20 ">
                    <mat-card-header class="m-auto text-l">
                        Total Bill 
                    </mat-card-header>
                    <hr>
                    <mat-card-content class="m-auto">   
                        <ng-container>
                            <ng-template #spinner>
                                <mat-progress-spinner [diameter]="25" [mode]="'indeterminate'"></mat-progress-spinner>
                            </ng-template>
                           <div *ngIf="!(loadingSer.loading$ | async) else spinner" >  {{data?.bill}}</div>
                        </ng-container>
                    </mat-card-content>
                    <hr>
                    <mat-card-actions class="m-auto">
                        <button [routerLink]="['/cafe/bill']" mat-stroked-button color="accent">View</button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>

        </mat-grid-list>
    <!-- </div> -->

