<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class="t-c">Forgot Password</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="forgotPasswordForm">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field  appearance="fill" >
                    <mat-label>Email </mat-label>
                    <input matInput formControlName="email" required>
                    <mat-error *ngIf="email?.invalid && email?.touched">
                        <span *ngIf="email?.errors?.['required'] && email?.touched">This field is mandatory</span>
                        <span *ngIf="email?.errors?.['pattern'] && email?.touched">This field is invalid</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="center" >
    <ng-template  #spinner >
        <mat-progress-spinner [diameter]="25" [mode]="'indeterminate'"></mat-progress-spinner>
    </ng-template>
    <button *ngIf="!(loadingSer.loading$ | async) else spinner"   [disabled]="forgotPasswordForm.invalid" mat-raised-button color="primary" type="submit" (click)="handleSubmit()">Send</button>
    <button  mat-raised-button color="accent" mat-dialog-close>Close</button>  
</mat-dialog-actions>