<mat-toolbar color="primary">
    <button mat-icon-button>
        <span class="material-symbols-outlined">
            fastfood
        </span>
    </button>
    <span> Cafexcel </span>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="loginAction()">
        <mat-icon>login</mat-icon>
    </button>
    <button mat-icon-button (click)="signupAction()">
        <mat-icon>input</mat-icon>
    </button>
    <button mat-icon-button (click)="forgotPasswordAction()">
        <mat-icon>lock_open</mat-icon>
    </button>
</mat-toolbar>

<div class="home-container">
    <div class="card-container mat-elevation-z8">
        <div class="home-title">Welcome Guest !</div> 
      
        <div class="subtitle"> Please 
            <button  class="login-btn" (click)="loginAction()">Log In</button> Or
            <button class="login-btn"  (click)="signupAction()" >Sign Up</button> 
        </div>
    </div>

</div>

<!-- <mat-card class="home-container">
    <div class="home-title">Welcome Guest !</div>
    <div class="subtitle"> Please 
        <button mat-button class="login-btn" (click)="loginAction()">Log In</button> Or
        <button mat-button class="signup-btn" color="accent" (click)="signupAction()" >Sign Up</button> 
    </div>
</mat-card> -->

<!-- <mat-card class="home-container mat-elevation-z8">
    <span>Welcome Guest !</span>
    <mat-card-actions>
        <button mat-button class="login-btn" (click)="loginAction()">Log In</button> Or
        <button mat-button class="signup-btn" color="accent" (click)="signupAction()">Sign Up</button>
    </mat-card-actions>
</mat-card> -->