<mat-toolbar color="primary">
    <button mat-icon-button>
        <span class="material-symbols-outlined">
            fastfood
        </span>
    </button>
    <span> Cafexcel </span>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="loginAction()">
        <mat-icon>login</mat-icon>
    </button>
    <button mat-icon-button (click)="signupAction()">
        <mat-icon>input</mat-icon>
    </button>
    <button mat-icon-button (click)="forgotPasswordAction()">
        <mat-icon>lock_open</mat-icon>
    </button>
</mat-toolbar>

<div class="container"  fxLayoutAlign="center center" fxLayout="column" >
    <h1>Welcome Guest :)</h1>
    <p>Please sign in or sign up to continue.</p>
    <div class="button-container">
        <button mat-raised-button color="primary" (click)="loginAction()">Login</button>
        <button mat-raised-button color="accent" (click)="signupAction()">Sign Up</button>
      </div>
  </div>


